body {
    background-image: url(../img/bg.png);
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
}
.active {
    background-color: #303030;
}
#circle {
    height: 800px;
    width: 800px;
    background-color: #7d7d7d;
    border-radius: 50%;
    margin: -350px 0 0;
    text-align: center;
    color: seashell;
    box-shadow: 0px 0px 100px rgb(41, 41, 41);
}
.title {
    display: inline-block;
    margin-top: 370px;
    letter-spacing: -10px;
    margin-bottom: -100%;
    font-size: 170px;
    text-shadow: 2px 2px 4px #000000;
}
.subtitle {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 8px #000000;
}
.blazon {
    margin-left: 10%;
    margin-top: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    border-style: solid;
    border-color: grey;
    float: left;
}
.blazon:hover {
    border-color:#C0C0C0;
}
.subsubtitle {
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 6%;
    margin-right: 25%;
    font-weight: lighter;
    color: #303030;
}
.engraving  {
    font-size: 8px;
    color: #303030;
    margin-top: 10%;
}
.iconbar ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin-right: 30%;
    margin-top: 6%;
}
.iconbar li {
    margin-right: 50%;
    filter: saturate(0);
}
.iconbar li:hover {
    filter: saturate(100%);
}
main {
    margin-top: 30%;
    text-align: center;
    margin-bottom: 2.5cm;
}
img, video {
    margin-bottom: 10px;
}
h4 {
    font-size: 14px;
    margin-top: 50px;
}
h5 {
    font-size: 14px;
    margin-top: 50px;
}
main a img {
    border-radius: 2em;
    height: 150px;
    width: 150px;
}
main img, main video {
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
}