body {
    background-image: url(../img/bg.png);
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
}
.active {
    background-color: #303030;
}
#circle {
    height: 800px;
    width: 800px;
    background-color: #8A936D;
    border-radius: 50%;
    top: -390px;
    text-align: center;
    color: seashell;
    box-shadow: 0px 0px 100px #434735;
    position: fixed;
    transition: top 0.6s ease-in-out;
}
.title {
    display: inline-block;
    margin-top: 370px;
    letter-spacing: -10px;
    margin-bottom: -100%;
    font-size: 170px;
    text-shadow: 2px 2px 4px #434735;
}
.subtitle {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 8px #434735;
}
.blazon {
    margin: 0% 6% 0% 13%;
    border-radius: 50%;
    border-style: solid;
    border-color: #434735;
    border-width: 2px;
    float: left;
    transition: height 0.6s ease-in-out, margin 0.6s ease-in-out;
}
.subsubtitle {
    position: inline;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 10%;
    margin-right: 20%;
    font-weight: lighter;
    color: #d4e0a8;
    text-align: left;
    transition: opacity 0.6s ease-in;
}
.iconbar ul {
    position: fixed;
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}
.iconbar li {
    margin-top: 100%;
    filter: saturate(0);
}
.iconbar li:hover {
    filter: saturate(100%);
}
main {
    margin-top: 30%;
    text-align: center;
    margin-bottom: 2.5cm;
}
img, video {
    margin-bottom: 10px;
}
h4 {
    font-size: 14px;
    margin-top: 50px;
}
h5 {
    font-size: 14px;
    margin-top: 50px;
}
.app {
    border-radius: 2em;
    height: 150px;
    width: 150px;
}
main img, main video {
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.zoom:hover {
    cursor: zoom-in;
}
h4, h5, h6 {
 width: 100px;
 display: inline-flex;
 height: auto;
 float: middle;
}
#iconbar {
margin: 0 auto;
padding: 500px 0 250px 0;
}