body {
    background-image: url(../img/bg.png);
    font-family: sans-serif;
    background-color: #8A936D;
}
.active {
    background-color: #303030;
}
#circle {
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    height: 800px;
    width: 800px;
    background-color: #8A936D;
    border-radius: 50%;
    top: -390px;
    text-align: center;
    color: seashell;
    box-shadow: 0px 0px 50px #434735;
    position: fixed;
    transition: top 0.4s ease-in-out;
}
.title {
    display: inline-block;
    margin-top: 390px;
    letter-spacing: -10px;
    margin-bottom: -100%;
    font-size: 170px;
    text-shadow: 2px 2px 4px #434735;
}
.subtitle {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 8px #434735;
}
.blazon {
    margin: 0% 6% 0% 13%;
    border-radius: 50%;
    border-style: solid;
    border-color: #434735;
    border-width: 2px;
    float: left;
    transition: height 0.4s ease-in-out, margin 0.4s ease-in-out;
}
.subsubtitle {
    position: inline;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 10%;
    margin-right: 20%;
    font-weight: lighter;
    color: #d4e0a8;
    text-align: left;
    transition: opacity 0.4s ease-in;
}
main {
    margin-top: 30%;
    text-align: center;
}

#iconbar i {
    color: #d4e0a8;
    font-size: 50px;
    margin: 20px;
    text-shadow: 0px 0px 2px #434735;
}

#iconbar i:hover {
    color: #434735;
    cursor: pointer;
}


.containerDiv {
    text-align: center;
    border-radius: 0.5em;
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: #d4e0a8;
    margin-bottom: 0.5em;
    font-size: 12pt;
}
.containerDiv img {
    height: 150px;
    border-radius: 0.5em;
    margin: 5px;
    border-style: solid;
    border-color: #434735;
    border-width: 2px;
}
.containerDiv h4 {
    font-size: 26pt;
    margin: 2px;
}
.containerDiv button {
    width: 100%;
    border: none;
    color: #434735;
    background-color: #d4e0a8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 2px #434735;
}
.containerDiv button:last-child {
position: absolute;
left: 0%;
bottom: 0;
}
.containerDiv button:hover {
    background-color: #8A936D;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
